@charset('UTF-8');
.paginationDiv{
	margin-top: 20px;
	display: inline-block;
	float: right;
	font-size: 12px;
	font-family: "Microsoft YaHei";
	box-sizing: border-box !important;
}
.paginationDiv .pagination button{
	min-width: 40px;
	cursor: pointer;
	border: 1px solid #ddd;
	border-radius: 2px;
	text-align: center;
	background-color: #fff;
	font-size: 12px;
	height: 30px;
	line-height: 28px;
	padding: 0 12px;
	margin-left: 10px;
}
.paginationDiv .pagination button.pagination_previous,
.paginationDiv .pagination button.pagination_previous:disabled:hover,
.paginationDiv .pagination button.pagination_previous.disabled:hover{
	background: url("../images/Shape3.png") no-repeat scroll center transparent;
	background-origin:content-box;
}
.paginationDiv .pagination button.pagination_next,
.paginationDiv .pagination button.pagination_next:disabled:hover,
.paginationDiv .pagination button.pagination_next.disabled:hover{
	background: url("../images/Shape4.png") no-repeat scroll center transparent;
	background-origin:content-box;
}
.paginationDiv .pagination button.pagination_previous:hover{
	background: url("../images/Shape3_p.png") no-repeat scroll center transparent;
	background-origin:content-box;
	background-color: #3896F8;
}
.paginationDiv .pagination button.pagination_next:hover{
	background: url("../images/Shape4_p.png") no-repeat scroll center transparent;
	background-origin:content-box;
	background-color: #3896F8;
}
.paginationDiv .pagination button:disabled,.paginationDiv .pagination button:disabled:hover,
.paginationDiv .pagination button.disabled,.paginationDiv .pagination button.disabled:hover{
	color: #D2D2D2;
	background-color: #fff;
	border: 1px solid #ddd;
	cursor:not-allowed;
}
.paginationDiv .pagination button:hover,.paginationDiv .pagination button.active{
	background-color: #3896F8;
	color:#fff;
	border: 1px solid #3896F8;
}
.paginationDiv .pagination .pagination_curr{
	box-sizing: border-box !important;
	width: 50px;
	height: 30px;
	font-size: 12px;
	border: 1px solid #ddd;
	border-radius: 2px;
	/*padding: 0 10px;*/
	margin: 0 10px;
    text-align: center;
}
.paginationDiv .pagination .select_num{
	position: relative;
	display:inline-block;
	margin: 0 10px;
}
.paginationDiv .pagination .select_num>.pagination_sel_val{
	box-sizing: border-box;
	display:inline-block;
	width: 70px;
	height: 30px;
	line-height: 27px;
	cursor: pointer;
	text-align: center;
	border: solid 1px #ddd;
	border-radius: 2px;
    overflow: hidden;
    padding: 0;
	padding-right: 20px;
}
.paginationDiv .pagination .select_num>.pagination_sel_val.show{
	background: url("../images/Shape2.png") no-repeat scroll 52px 11px transparent;
}
.paginationDiv .pagination .select_num>.pagination_sel_val.hide{
	background: url("../images/Shape1.png") no-repeat scroll 52px 11px transparent;
}
.paginationDiv .pagination .select_num>.pagination_sel{
	position: absolute;
	list-style: none;
    text-align: center;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 2px;
    bottom: 30px;
    margin: 0;
    padding: 0;
	margin-bottom: 10px;
}
.paginationDiv .pagination .select_num>.pagination_sel.hide{
	display:none;
}
.paginationDiv .pagination .select_num>.pagination_sel.show{
	display:inline-block;
}
.paginationDiv .pagination .select_num>.pagination_sel>.pagination_sel_opt{
	cursor: pointer;
	text-align: left;
	width: 43px;
	height: 23px;
	line-height: 23px;
	padding-left: 25px;
	overflow: hidden;
}
.paginationDiv .pagination .select_num>.pagination_sel>.pagination_sel_opt.isSeled{
	background: url("../images/selected.png") no-repeat 7px 7px;
}
.paginationDiv .pagination .select_num>.pagination_sel>.pagination_sel_opt:hover{
	background-color: #3896F8;
}
.paginationDiv .pagination .pagination_total{
	display: inline-block;
	min-width: 20px;
}
.paginationDiv .shade{
	position:fixed;
	_position:absolute;
	width:100%;
	height:100%;
	left: 0;
	top: 0; 
	background-color:#000; 
	filter:alpha(opacity=50); 
	-moz-opacity:0.5; 
	opacity:0.5; 
	z-index: 5;
}
.paginationDiv .loading{
	position: fixed;
	width: 120px;
	height: 50px;
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: #fff;
	left: 45%;
	top: 40%;
	z-index: 6;
}
.paginationDiv .loading>span{
	display: inline-block;
	width: 65px;
	height: 50px;
	line-height: 50px;
	padding-left: 55px;
	background: url(../images/loading.gif) no-repeat 5px 9px;
}